@define-color Background #000000;
@define-color Foreground #ffffff;
@define-color Accent #00FFFF;

* {
  all: initial;
  border: none;
  border-radius: 0;
  min-height: 0;
  min-width: 0;
  font-family: "Material Design Icons", monospace;
  font-size: 11pt;
}

window#waybar {
  background-color: alpha(@Background, 0.2);
}

window#waybar.hidden {
  opacity: 0;
}

#custom-search {
  margin: 0 0.41em;
  padding: 0.41em 0.82em;
  background-image: url("/nix/store/488hqs4jj4i981k6pfbbmxd62nigkpxa-Logo-14mbpw8jv1w2c5wvfvj8clmjw0fi956bq5xf9s2q3my14far0as8.svg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

#workspaces {
  background-color: alpha(@Background, 0.2);
  border-radius: 4px;
  margin: 0.41em 0.21em;
  padding: 0.41em 0.82em;
}

#workspaces button {
  margin: 0 0.82em;
}

#workspaces button label {
  color: alpha(@Foreground, 0.8);
}

#workspaces button.empty label {
  color: alpha(@Foreground, 0.4);
}

#workspaces button.urgent label {
  color: alpha(@Red, 0.8);
}

#workspaces button.special label {
  color: alpha(@Yellow, 0.8);
  text-shadow:
    0 0 0.14em @Yellow,
    0 0 0.27em @Yellow,
    0 0 0.41em @Yellow,
    0 0 0.55em @Yellow,
    0 0 0.68em @Yellow;
}

#workspaces button.active label {
  color: alpha(@Accent, 0.8);
  text-shadow:
    0 0 0.14em @Accent,
    0 0 0.27em @Accent,
    0 0 0.41em @Accent,
    0 0 0.55em @Accent,
    0 0 0.68em @Accent;
}

#backlight,
#battery,
#clock,
#clock.date,
#custom-power,
#network,
#pulseaudio,
#pulseaudio.microphone,
#tray,
#window {
  color: alpha(@Foreground, 0.8);
  background-color: alpha(@Background, 0.2);
  border-radius: 4px;
  margin: 0.41em 0.21em;
  padding: 0.41em 0.82em;
}

#custom-power {
  margin-right: 0.41em;
}

tooltip {
  color: alpha(@Foreground, 0.8);
  background-color: alpha(@Background, 0.2);
  font-family: "Dosis", sans-serif;
  border-radius: 8px;
  padding: 1.37em;
  margin: 2.05em;
}

tooltip label {
  font-family: "Dosis", sans-serif;
  padding: 1.37em;
}
