@define-color background rgba(0, 0, 0, 0.5);
@define-color background-alt rgba(255, 255, 255, 0.05);
@define-color background-focus rgba(255, 255, 255, 0.1);
@define-color border rgba(255, 255, 255, 0.1);
@define-color red rgb(255, 69, 58);
@define-color orange rgb(255, 159, 10);
@define-color yellow rgb(255, 214, 10);
@define-color green rgb(50, 215, 75);
@define-color blue rgb(10, 132, 255);
@define-color gray rgb(152, 152, 157);
@define-color black rgb(28, 28, 30);
@define-color white rgb(255, 255, 255);

* {
  all: unset;
  font:
    11pt Inter,
    sans-serif;
  transition: 200ms;
}

.floating-notifications.background .notification-row .notification-background {
  background: @background;
  border-radius: 1rem;
  border: 1px solid @border;
  color: @white;
  margin: 0.25rem;
  padding: 0;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 1rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: @white;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: alpha(@white, 0.7);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: @white;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  color: @white;
  background: @background-alt;
  border: 1px solid @border;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background: @background-focus;
  color: @white;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background: @blue;
  color: @white;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @black;
  background: @red;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  background: lighter(@red);
  color: lighter(@black);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background: @red;
  color: @background;
}

.control-center {
  background: @background;
  border: 1px solid @border;
  border-radius: 1rem;
  color: @white;
  padding: 1rem;
}

.control-center .notification-row .notification-background {
  background: @background-alt;
  border: 1px solid @border;
  border-radius: 0.5rem;
  color: @white;
  margin: 0.5rem 0;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: @white;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: alpha(@white, 0.7);
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: @white;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  background: @background-alt;
  border: 1px solid @border;
  border-radius: 0.5rem;
  color: @white;
  margin: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background: @background-focus;
  color: @white;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background: @blue;
  color: @white;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @black;
  background: @red;
}

.control-center .notification-row .notification-background .close-button:hover {
  background: lighter(@red);
  color: lighter(@black);
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background: @red;
  color: @background;
}

.control-center .notification-row .notification-background:hover {
  background: @background-focus;
  color: @white;
}

.control-center .notification-row .notification-background:active {
  background: @blue;
  color: @white;
}

/*** Widgets ***/
/* Title widget */
.widget-title {
  color: @white;
  margin: 0.5rem;
}

.widget-title > button {
  font-size: initial;
  color: @white;
  background: @background-alt;
  border: 1px solid @border;
  box-shadow: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.widget-title > button:hover {
  background: @background-focus;
}

/* DND Widget */
.widget-dnd {
  color: @white;
  margin: 0.5rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 0.5rem;
  background: @background-alt;
  border: 1px solid @border;
}

.widget-dnd > switch:hover {
  background: @background-focus;
}

.widget-dnd > switch:checked slider {
  background: @blue;
}

.widget-dnd > switch slider {
  background: @background-focus;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

/* Mpris widget */
.widget-mpris {
  background: @background-alt;
  border: 1px solid @border;
  border-radius: 0.5rem;
  color: @white;
  margin: 0.5rem;
  padding: 0.5rem;
}

.widget-mpris .widget-mpris-player {
  padding: 0.5rem;
}

.widget-mpris .widget-mpris-player button:hover {
  background: @background-focus;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
  border-radius: 0.5rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
  font-weight: bold;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
  font-weight: normal;
}

.widget-mpris .widget-mpris-player > box > button:hover {
  background: @background-focus;
}
