@define-color background rgba(0, 0, 0, 0.3);
@define-color background-alt rgba(0, 0, 0, 0.5);
@define-color background-focus rgba(255, 255, 255, 0.1);
@define-color border rgba(255, 255, 255, 0.1);
@define-color text rgb(255, 255, 255);
@define-color text-alt rgba(255, 255, 255, 0.7);
@define-color accent rgb(10, 132, 255);
@define-color error rgb(255, 69, 58);
@define-color black rgb(28, 28, 30);

* {
  all: unset;
  font:
    11pt Inter,
    sans-serif;
  transition: 200ms;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 1rem;
  background-color: @background;
  color: @text;
  padding: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 1rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @error;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: @text;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: @text-alt;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: @text;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @text;
  background-color: @background;
  margin: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @black;
  background-color: @error;
}

.control-center {
  border-radius: 1rem;
  background-color: @background;
  color: @text;
  padding: 1rem;
}

.control-center .widget-title {
  color: @text;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: @text;
  background-color: #363a4f;
  padding: 0.5rem;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  color: @text;
  background-color: #363a4f;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @error;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: @text;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: @text-alt;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: @text;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @text;
  background-color: @background-alt;
  margin: 0.5rem;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @black;
  background-color: @error;
}

.control-center-dnd {
  border-radius: 0.5rem;
  background: @background-alt;
  border: 1px solid @border;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @accent;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: @background-alt;
  border: 1px solid @border;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @accent;
}

.widget-dnd > switch slider {
  background: @background-alt;
  border-radius: 0.5rem;
  border: 1px solid @border;
}
