@define-color background rgba(0, 0, 0, 0.5);
@define-color background-alt rgba(255, 255, 255, 0.05);
@define-color background-focus rgba(255, 255, 255, 0.1);
@define-color border rgba(255, 255, 255, 0.1);
@define-color text rgba(255, 255, 255, 1);
@define-color text-alt rgba(255, 255, 255, 0.7);

* {
  all: unset;
  font:
    11pt Inter,
    sans-serif;
  transition: 200ms;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#entry {
  background: @background-alt;
  border: 1px solid @border;
  border-radius: 16px;
  margin: 0.5rem;
  padding: 0.5rem;
}

#match.activatable {
  background: @background-alt;
  padding: 0.5rem 1rem;
}

#match.activatable:first-child {
  border-radius: 16px 16px 0 0;
}

#match.activatable:last-child {
  border-radius: 0 0 16px 16px;
}

#match.activatable:only-child {
  border-radius: 16px;
}

#match:selected,
#match:hover,
#plugin:hover {
  background: @background-focus;
}

box#main {
  background: @background;
  border-radius: 16px;
  padding: 0.5rem;
}

list > #plugin {
  border-radius: 16px;
  margin: 0.5rem;
}
